/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    background-color: #0c0c0c;
    color: #d3d3d3;
    font-family: "Fira Code", monospace;
    padding-top: 10em;
}


.logo{
    display: flex;
    align-items: center;
}

img {
    width: auto;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo img{
    height: 50px;
    margin-right: 15px;
}

.container {
    width: 100%;
    min-height: 100vh;
    /*max-width: 1200px;*/
    padding: 2rem 2rem;
    /*margin: 0 auto;
    margin-top: 10px;*/
    background-color: #000000;
}

html {
    scroll-behavior: smooth;
}

header {
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70px;
    background-color: #0D0D0D;
    position: fixed;
    top: 0;              /* Lo coloca en la parte superior */
    left: 0;
    width: 100%;         /* Que abarque todo el ancho */
    z-index: 1000;       /* Lo pone por encima de otros elementos */
    /*padding: 1.5rem 0;*/
}

/*header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}*/

nav{
    padding-bottom: 15px;
}

nav a {
    padding-left: 20px;
    text-decoration: none;
    color: #734916;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007B83;
}

.linea-header {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.1); /* o #333, #aaa, etc. */
    width: 120%;
    
}

.linea-separadora {
    border: none;
    border-top: 2px dashed rgb(255, 255, 255, 0.1); /* o #333, #aaa, etc. */
    margin: 2rem 0 0 0;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.seccion-acerca {
    background-color: #212121;
    padding: 3rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 60px 70px 40px 140px;
}

.seccion-acerca h2 {
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 5.6em;
    color: #007B83;
    text-align: left
}

.seccion-acerca p {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
    color: #a7a7a7;
}


main section {
    padding: 4rem 0;
    border-bottom: 1px solid #e0e0e0;
}

main h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #007B83;
}



@media (min-width: 600px){
    header{
        flex-direction: column;
        padding: 0px 30px;
        justify-content: space-between;
    }
}

/*Estilo ClienteServidor*/
.seccion-clienteservidor {
    padding: 2rem;
}

.clienteservidor-box {
    display: flex;
    gap: 2rem;
    border: 1px solid #222;
    padding: 1.5rem;
    flex-direction: center ;
}

.clienteservidor-izq {
    flex: 1;
    color: #ccc;
}

.clienteservidor-der{
    flex: 2;
}

.clienteservidor-der h4 {
    color: #a8a887;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.clienteservidor-der strong {
    color: #ffffff;
}


/*Estilo DiseñoUsuario*/
.seccion-diseñousuario {
    padding: 2rem;
}

.diseñousuario-box {
    display: flex;
    gap: 2rem;
    border: 1px solid #222;
    padding: 1.5rem;
    flex-direction: row-reverse;
}

.diseñousuario-izq {
    flex: 1;
    color: #ccc;
    display: flex; 
    justify-content: right; 
    align-items: center; 
}

.diseñousuario-izq img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.diseñousuario-der{
    flex: 2;
}

.diseñousuario-der h4 {
    color: #a8a887;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.diseñousuario-der strong {
    color: #ffffff;
}


/*Estilo AnalisisEntorno*/
.seccion-analisisentorno {
    padding: 2rem;
}

.analisisentorno-box {
    display: flex;
    gap: 2rem;
    border: 1px solid #222;
    padding: 1.5rem;
    flex-direction: center;
}

.analisisentorno-izq {
    flex: 1;
    color: #ccc;
}

.analisisentorno-izq img {
    max-width: 100%;
    height: auto;
    border-radius: 0 60px 0 20px;
    padding-top: 15px;
}

.analisisentorno-der {
    flex: 2;
}

.analisisentorno-der h4 {
    color: #a8a887;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.analisisentorno-der strong {
    color: #ffffff;
}











/*.logo-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: left;
    width: 50%;
    height: auto;
}*/


/*
footer {
    background-color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    padding: 1.5rem 0;
    border-top: 1px solid #e0e0e0;
    color: #888;
}*/

/* Diseño responsivo */
/*@media (max-width: 768px) {
    nav ul {
    flex-direction: column;
    gap: 1rem;
    }

    header h1 {
    font-size: 1.5rem;
    text-align: center;
    }

    nav {
    text-align: center;
    }
}*/